.example-spacer {
  flex: 1 1 auto;
}

.logo {
  height: 24px;
  margin: 0 16px;
  display: block;
}

mat-toolbar {
  display: flex;
  align-items: center;
}

.example-icon {
  padding: 0 14px;
}

.example-icon.favorite-icon {
  padding-left: 14px;
}
